
<%= form_tag("/artists#create", method: "post") do %>
  <%= submit_tag( "Search") %>
<% end %>
<br>
<p>
  <button onclick="dynamicBarChart();">Start Chart</button>
  <button onclick="updateChart();">Update Chart</button>
<!--   <button onclick="updateChart();">Update Chart</button> -->
  <script>

  </script>
</p>
<div class="results" id="results"></div>




