<%= form_tag("/artists#create", method: "post") do %>
  <%= submit_tag("Search") %>
<% end %>
<br>
<p>

<%=content_tag "div", id: "dataline", data: {artists: @artists} do %>
loading...
<%end%>


<br>
</p>
<div class="results" id="results">
</div>
<p>
    <svg class="chart" id="chart"></svg>
</p>
