<%= form_tag("/artists#create", method: "post") do %>
  <%= submit_tag("Search") %>
<% end %>
<br>
<p>
<div id ="results" class="results">
  <%=@artists.each do |artist| %> 
  <%= artist.name%> 
  <%end%> 
</div>

</p>
<p>
    <svg class="chart" id="chart"></svg>
</p>
