<h1> Spotify Followers Search</h1>

<p>
This app uses a background process to query Spotify's API for artists' followers, persisting that information to the database. Bars may pause or stop, depending on how fast Spotify sends data to this webapp. 
</p>
<p>
A D3.js chart re-draws itself every second pulling the latest entry from the database. Each click draws 50 artists from Spotify.  
</p>

<p>
  <div class="label" id="label"></div>
</p>  

