
<%= form_tag("/artists#create", method: "post") do %>
  <%= submit_tag( "Search") %>
<% end %>
<br>
<p>
  <button onclick="dynamicBarChart();">Start Chart</button>
  <button onclick="updateChart();">Update Chart</button>
  <div class="label" id="label"></div>
  
  <script>

  </script>
</p>
<div class="results" id="results"></div>




