
<%= form_tag("/artists#create", method: "post") do %>
  <%= submit_tag("Search") %>
<% end %>
<br>
<p>
  <button onclick="dynamicBarChart();">Start Chart</button>
  <button onclick="updateChart();">Update Chart</button>
  <!-- <script>
    var myVar = setInterval(function(){ updateGraph() }, 1000);

    updateGraph();

    function myStopFunction() {
        clearInterval(myVar);
    }
  </script> -->
</p>
<div class="results" id="results"></div>




